<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chats</title>
    <script>

    </script>
</head>
<body>
<ul>
    <li th:each="message: ${messages}" th:text="${message.message}"></li>
</ul>

<form action="#" th:action="@{'/chat/'+ ${channelId}}" class="index-form" method="post">
    <div class="index-input-row">
        <label class="index-input">
            Nachricht:
            <input name="message" type="text">
        </label>
        <input type="submit" class="index-submit-button">
    </div>
</form>
</body>
</html>
