<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{index.css}">
    <title>Study Chat</title>
</head>
<body>
<div class="index-card-container">
    <div class="index-card">
        <h1>Study Chat</h1>
        <form action="#" th:action="@{channel}" class="index-form" method="get">
            <div class="index-input-row">
                <label class="index-input">
                    Chat ID:
                    <input name="channelId" type="text">
                </label>
                <input type="submit" class="index-submit-button">
            </div>
        </form>
    </div>
</div>

</body>
</html>
