* {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    display: block;
    font-size: 24px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.index-submit-button {
    background: #3498db;
    width: 180px;
    padding: 4px 0;
    border-radius: 3px;
}

.index-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.index-submit-button:hover {
     cursor: pointer;
 }

.index-form {
    width: 100%;
    display:flex;
    justify-content: center;
}

.index-input {
    width: 100%
}

.index-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.index-card {
    width: 800px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 0px 48px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 0px 48px 12px rgba(0,0,0,0.75);
    box-shadow: 6px 0px 48px 12px rgba(0,0,0,0.75);
}
